.bubba{
	position:relative;

	img{
		position:absolute;
		bottom:-4px;
		width:333px;
		height:auto;
	}
}
.event-detail{
	margin-top:4em;

	img{
		height:120px;
		width:auto;
	}
	p{
		font-size:1em;
	}
}