.slideUp {
  -webkit-animation-name: slideUp;
  -webkit-animation-duration: 1.4s;
  animation-name: slideUp;
  animation-duration: 1.4s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(-70%);
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }
}

@keyframes collage {
  0%    { left: 0; }
  100%  { left: -100%; }
}
