.tickets{
	.section-title h4{
		margin-bottom:1em;
	}
	h3{
		line-height:1.5em;
		font-size:2em;

	}
	img{
		max-width:250px;
		margin-bottom:4em;
	}
	.buttons{
		margin-bottom: 4em;
	}
	p{
		font-size: 1em;
	}
}